<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016838990002-gj1p8q1ufr06j5mpqca3fh39qomp2dbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016838990002-gj1p8q1ufr06j5mpqca3fh39qomp2dbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBdc2iy-wK5C1zCz3-uMfplm8lWNerH1qU</string>
	<key>GCM_SENDER_ID</key>
	<string>1016838990002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jason.GoogleSignIn-Tut</string>
	<key>PROJECT_ID</key>
	<string>fir-tut-c1654</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tut-c1654.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016838990002:ios:2d962f9f9b1383db7a41ab</string>
</dict>
</plist>